<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>distribution</servlet-name>
		<servlet-class>br.com.waldist.servlet.DistributionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>distribution</servlet-name>
		<url-pattern>/distribution-map/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>routes</servlet-name>
		<servlet-class>br.com.waldist.servlet.RoutesServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>routes</servlet-name>
		<url-pattern>/routes</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>br.com.waldist.servlet.WalDistServletContextListener</listener-class>
	</listener>
	
</web-app>